@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif;
}
footer{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding:3rem 20rem;
    color:#e5e7eb;
}


.banner{
    padding:6rem 12rem;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: #1f2937;
    font-family: 'Roboto',sans-serif;
    flex:1;
}
.image{
width:500px;
height:auto;
margin:2rem;
}
.text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding:0 1rem;
    justify-content: space-evenly;
}
.hero{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.basic{
    font-size: 18px;
    color:#d0d3da;
}

.signup{
    background-color: #3882f6;
    color: #f9faf8;
    
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 7px;
    height:2.5rem;
    width:8rem;
    align-content: center;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.signup:hover{
    background-color: #6b96da;
    transform: scale(1.05);
}

.items{
    padding:3rem 20rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 36px;
    color:#1f2937;
    justify-content: center;
    font-weight: 900;
}
.itemheader{
    text-align: center;
    margin-bottom:60px;
}
.display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:50px;

}
.box{
      width: 120px;
      height: 120px;
      border: 3.5px solid #3882f6; 
      border-radius: 12px;       
      margin: 0 auto 10px;       
    }
.itemtext{
width:120px;
text-align: center;
font-size: 15px;
font-weight:400;
color:#545d6a;
}

.test{
    display:flex;
    justify-content: center;
    color:#1f2937;
    flex-direction: column;
    background-color: #e5e7eb;
    padding:7rem 22rem;
}
.quote{
    font-size: 36px;
    font-weight: 100;
    text-align: justify;
    font-style: oblique;
}

.author{
font-size: 18px;
font-weight:700;
text-align: right;
}

.adarea{
    display:flex;
    justify-content: center;
    padding:6rem 16rem;
}
#add{
    border:solid white;
}
.ad{
    display: flex;
    flex:1;
    padding:2rem 6rem; 
    color:#e5e7eb;
    justify-content: space-between;
    flex-direction: row;
    background-color: #3882f6;
    border-radius: 5px;
}
.cta{
display: flex;
flex-direction: column;
justify-content: space-between;
}

.main{
    font-weight: 700;
    font-size: 20px;
}
.sub{
    font-weight: 300;
    color:#e5e7ebe0;
}

