@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif;
}

.banner{
    padding:6rem 12rem;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: #1f2937;
    font-family: 'Roboto',sans-serif;
    flex:1;
}
.image{
width:500px;
height:auto;
margin:2rem;
}
.text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding:0 1rem;
    justify-content: space-evenly;
}
.hero{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.basic{
    font-size: 18px;
    color:#d0d3da;
}

.signup{
    background-color: #3882f6;
    color: #f9faf8;
    width:100px;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 7px;
    height:2.5rem;
    width:8rem;
    align-content: center;
}

.items{
    padding:3rem 20rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 36px;
    color:#1f2937;
    justify-content: center;
    font-weight: 900;
}
.itemheader{
    text-align: center;
    margin-bottom:60px;
}
.display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:50px;

}
.box{
      width: 120px;
      height: 120px;
      border: 3.5px solid #3882f6; 
      border-radius: 12px;       
      margin: 0 auto 10px;       
    }
.itemtext{
width:120px;
text-align: center;
font-size: 15px;
font-weight:400;
color:#545d6a;
}

.test{
    display:flex;
    justify-content: center;
    color:#1f2937;
    flex-direction: column;
    background-color: #e5e7eb;
    padding:7rem 22rem;
}
.quote{
    font-size: 36px;
    font-weight: 100;
    text-align: justify;
    font-style: oblique;
}

.author{
font-size: 18px;
font-weight:700;
text-align: right;
}